#container{
    min-height: 500px;
    position: relative;
}
#clock{
    text-align: center;
    font-size: 72px;
    background-color: #333333;
    color: #fff;
    min-width: 380px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}